a.button,
button.button {
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), color-stop(20%, #cfcfcf), to(#cfcfcf));
  background-image: -webkit-linear-gradient(#dedede, #cfcfcf 20%, #cfcfcf);
  background-image: -moz-linear-gradient(top, #dedede, #cfcfcf 20%, #cfcfcf);
  background-image: -ms-linear-gradient(#dedede, #cfcfcf 20%, #cfcfcf);
  background-image: -o-linear-gradient(#dedede, #cfcfcf 20%, #cfcfcf);
  background-image: linear-gradient(#dedede, #cfcfcf 20%, #cfcfcf);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#cfcfcf', GradientType=0);
  background-color: #dedede;
  border: 1px solid #777777;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: #777777;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  line-height: 130%;
  margin: 0.8em 0.6em 0.8em 0;
  min-width: 100px;
  overflow: visible;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}
a.button:hover,
button.button:hover {
color:#ffffff;
  background-color: #a0b989;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0f1e0), color-stop(20%, #a0b989), to(#a0b989));
  background-image: -webkit-linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-image: -moz-linear-gradient(top, #e0f1e0, #a0b989 20%, #a0b989);
  background-image: -ms-linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-image: -o-linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-image: linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f1e0', endColorstr='#a0b989', GradientType=0);
}
a.button:active,
button.button:active {
  background-color: #a0b989;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0f1e0), color-stop(20%, #a0b989), to(#a0b989));
  background-image: -webkit-linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-image: -moz-linear-gradient(top, #e0f1e0, #a0b989 20%, #a0b989);
  background-image: -ms-linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-image: -o-linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-image: linear-gradient(#e0f1e0, #a0b989 20%, #a0b989);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f1e0', endColorstr='#a0b989', GradientType=0);
}
a.button:focus,
button.button:focus {
  outline: dotted 1px #000;
}
a.button::-moz-focus-inner,
button.button::-moz-focus-inner {
  border: 0;
}
a.button.disabled,
button.button.disabled,
a.button[disabled],
button.button[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #e6e6e6 none;
  cursor: default;
  opacity: 0.65;
}
.button.accept,
.button.cancel {
  white-space: normal;
  font-weight: bolder;
}
.button.accept:before,
.button.cancel:before {
  content: " ";
  float: left;
  height: 16px;
  margin: -2px 8px 0 -4px;
  width: 16px;
}
.button.accept:before {
  background: url("../img/accept.png") no-repeat;
}
.button.cancel:before {
  background: url("../img/decline.png") no-repeat;
}
/****************************************************************************/
/* Grouped Buttons                                                          */
/****************************************************************************/
.button-group {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.button-group button,
.button-group .button {
  border-left: 1px solid #81ab2e;
  float: left;
  margin-left: -1px;
  margin-right: 0;
}
.button-group > button:first-child,
.button-group > .button:first-child {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-topright: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-left: 1px solid #81ab2e;
  margin-left: 0;
}
.button-group > button:not(:first-child):not(:last-child),
.button-group > .button:not(:first-child):not(:last-child) {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.button-group > button:last-child,
.button-group > .button:last-child {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
